<div>
  <h1>Autores</h1>
  <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#adicionarAutorModal">
    Adicionar Novo Autor
  </button>

  <div *ngFor="let autor of autores" class="mb-2">
    <p>
      {{ autor.nome}}
      <button class="btn btn-danger btn-sm ms-2" (click)="excluirAutor(autor.codAu)">Excluir</button>
    </p>
  </div>
</div>

<!-- Modal Bootstrap -->
<div class="modal fade" id="adicionarAutorModal" tabindex="-1" aria-labelledby="adicionarAutorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adicionarAutorModalLabel">Adicionar Autor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="Descricao" [(ngModel)]="novoAutor.nome" name="Nome" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="adicionarAutor()">Salvar</button>
      </div>
    </div>
  </div>
</div>

