<div>
  <h1>Tipos de Venda</h1>
  <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#adicionarTipoVendaModal">
    Adicionar Novo Tipo
  </button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Ações</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipovenda of tipovendas">
        <td>{{ tipovenda.descricao }}</td>
        <td style="text-align:right">
          <button class="btn btn-danger btn-sm ms-2" (click)="excluirTipoVenda(tipovenda.tipoVenda_CodI)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="adicionarTipoVendaModal" tabindex="-1" aria-labelledby="adicionarTipoVendaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adicionarTipoVendaModalLabel">Adicionar Tipo de Venda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="Descricao" [(ngModel)]="novoTipoVenda.descricao" name="Descricao" maxlength="20"/>
            <small id="descricaoHelp" class="form-text text-muted">
              Máximo de 20 caracteres.
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="adicionarTipoVenda()">Salvar</button>
      </div>
    </div>
  </div>
</div>
