<div>
  <h1>Livros</h1>
  <div class="nav-links">
    <a routerLink="/assuntos">Assuntos</a>
    <a routerLink="/autores">Autores</a>
    <a routerLink="/tipovendas">Tipos de Vendas</a>
  </div>
  <br />
  <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#adicionarLivroModal">
    Adicionar Novo Livro
  </button>

  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Editora</th>
        <th>Edição</th>
        <th>Ano de Publicação</th>
        <th></th>  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>{{ livro.titulo }}</td>
        <td>{{ livro.editora }}</td>
        <td>{{ livro.edicao }}</td>
        <td>{{ livro.anoPublicacao }}</td>
        <td style="text-align:right">
          <button class="btn btn-primary btn-sm ms-2" (click)="abrirModalEditar(livro)" data-bs-toggle="modal" data-bs-target="#modalEditar">Editar</button>
          <button class="btn btn-success btn-sm ms-2" (click)="abrirModalVenda(livro)" data-bs-toggle="modal" data-bs-target="#modalVenda">Venda</button>
          <button class="btn btn-danger btn-sm ms-2" (click)="excluirLivro(livro.codI)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <br />
  <button class="btn btn-secondary mb-3" (click)="gerarRelatorio()">Gerar Relatório</button>
</div>


<div class="modal fade" id="adicionarLivroModal" tabindex="-1" aria-labelledby="adicionarLivroModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adicionarLivroModalLabel">Adicionar Livro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="Titulo" [(ngModel)]="novoLivro.titulo" name="Titulo" maxlength="20"/>
            <small id="descricaoHelp" class="form-text text-muted">
              Máximo de 40 caracteres.
            </small>
          </div>

          <div class="mb-3">
            <label for="editora" class="form-label">Editora</label>
            <input type="text" class="form-control" id="Editora" [(ngModel)]="novoLivro.editora" name="Editora" maxlength="20" />
            <small id="descricaoHelp" class="form-text text-muted">
              Máximo de 40 caracteres.
            </small>
          </div>
          <div class="mb-3">
            <label for="edicao" class="form-label">Edição</label>
            <input type="number" class="form-control" id="Edicao" [(ngModel)]="novoLivro.edicao" name="Edicao" min="1" step="1"/>
          </div>
          <div class="mb-3">
            <label for="anoPublicacao" class="form-label">Ano de Publicação</label>
            <input type="text" class="form-control" id="AnoPublicacao" [(ngModel)]="novoLivro.anoPublicacao" name="AnoPublicacao"  maxlength="4" pattern="\d{4}"  />
          </div>
          <div class="mb-3">
            <label for="autores" class="form-label">Autores</label>
            <select id="autores" class="form-select" [(ngModel)]="novoLivro.autores" name="autores" multiple>
              <option *ngFor="let autor of autores" [value]="autor.codAu">{{ autor.nome }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="assuntos" class="form-label">Assuntos</label>
            <select id="assuntos" class="form-select" [(ngModel)]="novoLivro.assuntos" name="assuntos" multiple>
              <option *ngFor="let assunto of assuntos" [value]="assunto.codAs">{{ assunto.descricao }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="adicionarLivro()">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarLabel">Editar Livro - {{ livroEditado?.titulo }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" id="titulo" class="form-control" [(ngModel)]="livroEditado.titulo" name="titulo" />
          </div>
          <div class="mb-3">
            <label for="editora" class="form-label">Editora</label>
            <input type="text" id="editora" class="form-control" [(ngModel)]="livroEditado.editora" name="editora" />
          </div>
          <div class="mb-3">
            <label for="edicao" class="form-label">Edição</label>
            <input type="number" id="edicao" class="form-control" [(ngModel)]="livroEditado.edicao" name="edicao" />
          </div>
          <div class="mb-3">
            <label for="anoPublicacao" class="form-label">Ano de Publicação</label>
            <input type="number" id="anoPublicacao" class="form-control" [(ngModel)]="livroEditado.anoPublicacao" name="anoPublicacao" />
          </div>
          <div class="mb-3">
            <label for="autores" class="form-label">Autores</label>
            <select class="form-control" [(ngModel)]="livroEditado.autores" name="autores" multiple>
              <option *ngFor="let autor of listaAutores" [value]="autor.codAu">
                {{ autor.nome }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="assuntos" class="form-label">Assuntos</label>
            <select class="form-control" [(ngModel)]="livroEditado.assuntos" name="assuntos" multiple>
              <option *ngFor="let assunto of listaAssuntos" [value]="assunto.codAs">
                {{ assunto.descricao }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="confirmarEdicao(livroSelecionado.codI)">Editar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalVenda" tabindex="-1" aria-labelledby="modalVendaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVendaLabel">Venda de Livro - {{ livroSelecionado?.titulo }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="hidden" [(ngModel)]="venda.codI" name="codI" />
            <label for="tipoVenda" class="form-label">Tipo de Venda</label>
            <select id="tipoVenda"
                    class="form-select"
                    [(ngModel)]="venda.tipoVenda_CodI"
                    name="tipoVenda"
                    required>
              <option *ngFor="let tipo of tiposvenda" [value]="tipo.tipoVenda_CodI">{{ tipo.descricao }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="valorVenda" class="form-label">Valor</label>
            <input type="number"
                   id="valorVenda"
                   class="form-control"
                   [(ngModel)]="venda.valor"
                   name="valorVenda"
                   required />
          </div>
        </form>
        <div *ngIf="tiposVendaCadastrados.length > 0" class="mt-4">
          <h6>Tipos de Venda Cadastrados</h6>
          <ul class="list-group">
            <li *ngFor="let tipo of tiposVendaCadastrados" class="list-group-item d-flex justify-content-between align-items-center">
              {{ tipo.descricao }} - R$ {{ tipo.valor | number: '1.2-2' }}
              <button class="btn btn-danger btn-sm" (click)="removerTipoVenda(tipo.codI, tipo.tipoVenda_CodI)">Remover</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="confirmarVenda()">Confirmar Venda</button>
      </div>
    </div>
  </div>
</div>
